@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Mukta";
        src: url("/fonts/Mukta-Regular.woff2") format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal
    }
    @font-face {
        font-family: "Mukta";
        src: url("/fonts/Mukta-Bold.woff2") format('woff2');
        font-weight: 700;
        font-display: swap;
        font-style: normal
    }
}

body{
    background-color: #f0f0f0
    /* background-color: #fff */

}

h1{
    font-size: 43px;
}

@media (max-width: 600px) {
    h1{
        font-size: 35px;
    }
}

.image-gallery-image {
    aspect-ratio: 1/1;
    object-fit: cover !important;

}

.image-gallery-thumbnail:focus, .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover {
    border: 3px solid #FF5F49 !important
}